@media screen and (max-width:676px) {
    img {
        width: 100%;
    }

    .logo-container h2 {
        color: #131318;
        font-size: 24px;
        font-weight: 800;
    }

    .logo-container .logo {
        width: 24px;
        height: 28px;
        margin-left: 20px;
    }

    .mobile-menu-icon {
        display: inline-block;
        margin-right: 20px;
    }

    .mobile-menu-icon input {
        visibility: hidden;
    }

    .menu-container {
        flex-direction: column;
        display: none;

    }

    .banner-image {
        margin: 0 20px;
    }

    .banner-img-headline {

        font-size: 32px;
    }

    .input-field-data {
        display: flex;
        flex-direction: column;
    }

    .popular-tours{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .mal-ind,
    .snk,
    .bb {
        display: flex;
        flex-direction: column;
        margin: 0 20px 20px 20px;
    }

    /* .kashmir {
        width: 100vw;
        background-size: 100%;
    } */

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        width: 100%;
        
    }
    .discount{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .discount-img-1,
    .discount-img-2,
    .discount-img-3{
        width: 90%;
        /* justify-content: center;
        align-items: center; */
        /* margin-left: 15px; */

    }

    .hotels-and-location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hotels,
    .location,
    .price {
        width: 90%;
    }

    .deals-details {
        display: flex;
        margin: 5px;
        padding: 0;
    }

    .deals-description {
        margin-left: 20px;
    }
    .mountains-section{
        /* margin-left: 20px; */
        flex-direction: column;
        width: 90%;
    }
    .newsletter{
        flex-direction: column;
        justify-content: center;
        width: 90%
    }
    /* 
    .newsletter-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 5px;

    }
    .newsletter-info{
        width: 250px;
        
    } */
    /* .newsletter-text h3{
        padding-top: 0;
    }
    .newsletter-text p{
        margin-top: 0;
    } */
    .bangladesh-mountains{
        width: 100%;
    }
    .footer-logo .logo {
        width: 24px;
        height: 28px;
        margin-left: 20px;}
        .footer-section{
            width: 100%;
            height: auto;
        }
        /* .mountains-section{
            display: flex;
        } */
}