@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common-styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Mulish;
}

/* nav-section-starts */
.header-section {}

.nav-container {
    max-width: 1170px;
    /* min-height: 100px; */
    /* border: 2px solid red; */
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    gap: 10px;
    width: 50%;
    align-items: center;

}

.logo-container .logo {
    width: 48px;
    height: 56px;

}

.logo-container h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travels {
    color: #FF5400;
}

.mobile-menu-icon{
    display: none;
}

.menu{
    justify-content: end;
}
.menu-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.menu-container a {
    text-decoration: none;
    font-size: 18px;
    color: #424247;
    font-weight: 700;
}
.menu-container a:hover{
    color:#FF5400;
}
/* nav-section-ends */

/* banner-section-starts */
.banner-image {
    max-width: 1170px;
    min-height: 500px;
    border: 0;
    border-radius: 16px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../B9A2-Hero-Travel-main/Images/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image-content {
    text-align: center;
}

.banner-img-headline {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-image-text {
    margin-bottom: 48px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.input-field {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.input-field-data input[type=text] {
    margin: 16px 5px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
}

.input-field-data select {
    min-width: 174px;
    /* min-height: 52px; */
    margin: 5px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
}

.btn-find{
    display: inline;
}

/* .input-field-data input[type=button] {
    max-width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    color: #FFF;
} */

/* popular-tours-section-starts */
.popular-tours {
    max-width: 1170px;
    min-height: 550px;
    margin: 100px auto;
    display: flex;
    gap: 50px;
}

.headline-text {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.description-text {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.description-text ul,
.ul {
    margin-left: 20px;
}

.description-text ul li,
.li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px;
}

.btn-primary {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    padding: 15px 35px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
}

.btn-primary a {
    text-decoration: none;
    color: #FFF;
}

/* popular-tours-section-ends */

/* destination-section-starts */
.destination {
    max-width: 1170px;
    margin: 0 auto;
}

.destination-text h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-text p {
    max-width: 640px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.mal-ind {
    display: flex;
    gap: 24px;
    margin-top: 45px;
}

.maldives {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/maldieves.png);
    width: 573px;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indonesia {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),
        url(../B9A2-Hero-Travel-main/Images/indonesia.png);
    width: 573px;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-text {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.snk {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.srilanka {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/srilanka.png);
    width: 374px;
    height: 286px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.north-america {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/north-america.png);
    width: 474px;
    height: 286px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kashmir {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/kashmir.png);
    width: 274px;
    height: 286px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.bangladesh {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/bangladesh.png);
    width: 473px;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandarban {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../B9A2-Hero-Travel-main/Images/bandarban.png);
    width: 673px;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* destination-section-ends */

/* service-section-starts */
.service-section {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}

.service-section h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.service-section p {
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.hotels-and-location {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.hotels {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotels img {
    margin-top: 30px;
    margin-left: 30px;
    width: 64px;
    height: 64px;
}

.hotels h4 {
    color: #131318;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
}

.hotels p {
    text-align: left;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
}

.location {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.location img {
    margin-top: 30px;
    margin-left: 30px;
    width: 64px;
    height: 64px;
}

.location h4 {
    color: #131318;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
}

.location p {
    text-align: left;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
}

.price {
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.price img {
    margin-top: 30px;
    margin-left: 30px;
    width: 64px;
    height: 64px;
}

.price h4 {
    color: #131318;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 30px;
}

.price p {
    text-align: left;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
}

/* service-section-ends */

/* discount-section-starts */
.discount {
    max-width: 1170px;
    margin: 100px auto;
}

.discount-text h1 {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.discount-text p {
    max-width: 640px;
    margin: 20px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.discount-img-1 {
    max-width: 1170px;
    min-height: 500px;
    background-image: url(../B9A2-Hero-Travel-main/Images/Group\ 39.png);
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.discount-img-2 {
    max-width: 1170px;
    min-height: 500px;
    margin-top: 45px;
    background-image: url(../B9A2-Hero-Travel-main/Images/Group\ 40.png);
    display: flex;
    align-items: center;
}

.discount-img-3 {
    max-width: 1170px;
    min-height: 500px;
    margin-top: 45px;
    background-image: url(../B9A2-Hero-Travel-main/Images/Group\ 39.png);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.discount-img-text-bg {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-right: 50px;
    margin-left: 50px;
}

.deals-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#clock {
    align-items: center;
    display: flex;
}
#clock img{
    width: 24px;
    height: 24px;
}
.info {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

#users {
    align-items: center;
    display: flex;
}

#users img {
    width: 24px;
    height: 24px;
}

#gps {
    align-items: center;
    display: flex;
}

#gps img {
    width: 24px;
    height: 24px;
}

.deals-description {
    margin-left: 50px;
}

.deals-description h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 25px;
}

.deals-description p {
    max-width: 450px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.deals-description h4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
}

.find-now {
    margin-top: 25px;
}

.packages-button {
    display: flex;
    justify-content: center;
}

/* discount-section-ends */
/* mountain-section-starts */
.mountains-section {
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
    gap: 50px;

}

.mountains-text {
    width: 50%;
}

.bangladesh-mountains {
    width: 50%;
    height: 424px;
    background-image: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url(../B9A2-Hero-Travel-main/Images/mountains.png);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bangladesh-mountains h4 {
    color: #FFF;
    width: 276px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.mountains-text .headline-text {
    max-width: 448px;
}

.li {
    color: #131318;
}

/* mountain-section-ends */
/* newsletter-section-starts */
.newsletter {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.newsletter-text {
    width: 474px;
    max-height: 420px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 40px;
}

.newsletter-text h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
}

.newsletter-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 24px;
    color: #1313181A;
}

.newsletter-info {
    width: 393px;
    height: 52px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 24px;
}

.newsletter-button {
    width: 393px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 24px;
}

.newsletter-button a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

/* newsletter-section-ends */
/* footer-section-starts */
.footer-section {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.footer-text {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.footer-text p {
    padding-top: 15px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.social-icons {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons i {
    width: 24px;
    height: 24px;
    color: black;
}

.footer-line {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
    margin-top: 50px;
}

.copyright {
    margin-top: 50px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

/* footer-section-ends */